body {
  background: #282731;
}

.player-switch {
  float: right;
}

.switch-button {
  color: #fff;
  background: #a13ea2;
}

.game-area {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 517px;
  height: 435px;
  background: #303033;
  overflow: hidden;
  float: left;
}

.controls {
  z-index: 2000;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50px;
  border-top: 3px solid #333340;
  background: 282731;
}

.bucket-container {
  position: absolute;
  bottom: 0px;
}

.bucket {
  width: 100px;
  height: 50px;
  background: #1e1e25;
}

.splatt {
  z-index: 100;
  position: absolute;
}

.scores {
  color: #fff;
  width: 100%;
  z-index: 5000;
}

.p1-score {
  float: left;
}

.p2-score {
  float: right;
}
